{
  "include": [
    "bin/src/**/*.js"
  ],
  "exclude": [
    "bin/src/generate-check-md5.js",
    "bin/src/index.js",
    "tests/**/*",
    "img/**/*",
    "coverage/**/*",
    "node_modules/**/*"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "all": true,
  "check-coverage": true
}
