{
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "tests/**/*.spec.js",
    "bin/**/*",
    "node_modules/**/*"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
      "ts-node/register"
   ],
  "all": true,
  "check-coverage": true
}
